<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">
        <h3 class="logo mr-auto"
            th:text="${user.isJunkie()
            ? user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'
            : user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}" >
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}" >
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li th:if="${user.isOrganizer()}" >
                    <a href="#" th:href="@{/dashboard/contests}">Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/users}">Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">

                    <a  href="#" th:href="@{/dashboard/my-contests}">My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li> <a href="#" th:href="@{/users/profile}">Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Book A Table Section ======= -->
<section class="create-contest min-height-800">
    <div class="container-create-contest" data-aos="fade-up">
        <div data-aos="fade-up">

            <div class="section-title">
                <h2><span>Create contest</span></h2>
            </div>

            <div class="book-a-table">
                <form action="#" th:action="@{/contests/create}" th:object="${form}" method="post" role="form"
                      class="ws-form"
                      data-aos="fade-up" data-aos-delay="100">

                    <div class="form-row margin-bottom-30">

                        <div class="col-lg-9 form-group">
                            <label class="form-label"><b>Contest title:</b></label>
                            <input type="text" th:field="*{title}" name="name"
                                   class="form-control form-placeholder"
                                   placeholder="5-50 symbols">
                            <label class="error small-font" th:errors="*{title}">First name error placeholder</label>
                        </div>


                        <div class="col-lg-3 form-group">
                            <div class="row">
                                <label class="dropdown-label"><b>Visibility:</b></label>
                            </div>
                            <div class="row">
                                <select class="create-contest-dropdown" th:field="*{open}">

                                    <option th:value="${false}"
                                            th:text="${'Invitational'}">
                                    </option>

                                    <option th:value="${true}"
                                            th:text="${'Open'}" th:selected>
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row margin-bottom-30">

                        <div class="col-lg-3 form-group">
                            <div class="row">
                                <label class="dropdown-label"><b>Contest category:</b></label>
                            </div>
                            <div class="row">
                                <select class="create-contest-dropdown" th:field="*{categoryId}">

                                    <option th:each="category : ${categories}"
                                            th:value="${category.categoryId}"
                                            th:text="${category.name}">

                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-9 form-group">
                            <label class="form-label"><b>Cover photo link (optional):</b></label>
                            <input type="text" th:field="*{coverPhotoLink}" name="name"
                                   class="form-control form-placeholder"
                                   placeholder="up to 500 symbols">
                            <label class="error small-font" th:errors="*{coverPhotoLink}">First name error
                                placeholder</label>
                        </div>

                    </div>

                    <div class="form-row margin-bottom-30">

                        <div class="col-lg-4 form-group">
                            <label class="form-label"><b>Enrollment starts:</b></label>
                            <input type="text" th:field="*{startPhase1}" name="name"
                                   class="form-control form-placeholder"
                                   placeholder="yyyy-MM-ddTHH:MM">
                            <label class="error small-font" th:errors="*{startPhase1}">Last name error
                                placeholder</label>
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="form-label"> <b>Evaluation starts:</b></label>
                            <input type="text" th:field="*{startPhase2}" name="name"
                                   class="form-control form-placeholder"
                                   placeholder="yyyy-MM-ddTHH:MM">
                            <label class="error small-font" th:errors="*{startPhase2}">Last name error
                                placeholder</label>
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="form-label"><b>Evaluation ends:</b></label>
                            <input type="text" th:field="*{endPhase2}" name="name"
                                   class="form-control form-placeholder"
                                   placeholder="yyyy-MM-ddTHH:MM">
                            <label class="error small-font" th:errors="*{endPhase2}">Last name error placeholder</label>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-lg-12 form-group">
                            <label class="form-label"><b>Guest jurors (ctrl + click to select more than
                                one):</b></label>
                        </div>
                    </div>
                    <div class="form-row margin-100">
                        <div class="col-lg-8 form-group">
                            <select class="jurors-dropdown" th:field="*{addedJurors}" multiple>
                                <option th:each="juror : ${eligibleJurors}"
                                        th:value="${juror.userId}"
                                        th:text="${juror.firstName + ' ' + juror.lastName +
                                        ' | rank: ' + juror.getRank().toString() + ' | pts: ' + juror.rankingPoints}">
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-4 form-group">
                            <div class="text-center">
                                <div class="row">
                                    <label class="error small-font" th:text="${error}">Name error placeholder</label>
                                </div>
                                <button id="button-create" type="submit">CREATE</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section><!-- End Book A Table Section -->

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>