<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">
        <h3 class="logo mr-auto"
            th:text="${user.isJunkie()
            ? user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'
            : user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}" >
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}" >
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li th:if="${user.isOrganizer()}" >
                    <a href="#" th:href="@{/dashboard/contests}">Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/users}">Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a>My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li> <a href="#" th:href="@{/users/profile}">Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg min-height-800">
    <div class="container-ws" data-aos="fade-up">

        <div class="section-title">
            <h2>Open Contests</h2>
        </div>

        <div class="row" data-aos="fade-left" data-aos-delay="100">

            <form th:fragment="only-category-filter" class="col-lg-12 d-flex justify-content-center"
                  action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${form}" method="post">

                <select class="filter-dropdown" th:field="*{categoryId}">
                    <option th:value="${null}"
                            th:text="'All categories'" selected>
                    </option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.categoryId}"
                            th:text="${cat.name.toUpperCase()}">
                        Categories
                    </option>
                </select>

                <input type="text" class="filter-field" th:field="*{search}"
                       placeholder="Search in contest titles and stories...">

                <button type="submit" class="btn btn-menu filter-button">Filter</button>
                <label class="error-light small-font" th:errors="*{search}">Search error placeholder</label>
            </form>
        </div>

        <div class="row menu-container" data-aos="fade-right" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-specialty" th:if="${userContests.isEmpty()}">
                <h2>No data available</h2>
            </div>

            <div class="col-lg-5 menu-item filter-specialty contest-thumb" th:each="contest: ${userContests}">
                <a th:href="@{/contests/{id}(id=${contest.contestId})}">
                    <img src="#" th:src="${contest.cover}"  class="menu-img" alt="">
                </a>
                <div class="menu-content">
                    <a href="#" th:text="${contest.title}">Lobster Roll</a>
                </div>
                <div class="menu-time">
                    <a>Time remaining: </a><span th:id="${contest.contestId}">05:37:22</span>
                </div>
                <div class="menu-ingredients" th:text="${'Category: ' + contest.category.name}">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
                <div class="menu-ingredients" th:text="${'Participants enrolled: ' + contest.getParticipants().size()}">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
                <div class="menu-ingredients" th:text="${'Photos uploaded: ' + contest.getPhotos().size()}">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>

        </div>

    </div>
</section><!-- End Menu Section -->

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->

<!-- Timer javascirpt -->
<script th:inline="javascript">
    var listOfContests = [[${userContests}]];

    window.onload = function getEndDate() {

        listOfContests.forEach(contest => {
            var countDownDate = new Date(`${contest.endPhase2}`).getTime();

            setInterval(function () {

                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById(`${contest.contestId}`).innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                if (distance <= 0) {
                    document.getElementById(`${contest.contestId}`).innerHTML = "EXPIRED";

                }
            }, 1000);
        })
    }
</script>

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>