<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">

        <h3 class="logo mr-auto" th:unless="${user.isOrganizer()}"
            th:text="${user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'}"></h3>

        <h3 class="logo mr-auto" th:if="${user.isOrganizer()}"
            th:text="${user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>


        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}">
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}">
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/contests}">Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/users}">Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-contests}">My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li><a href="#" th:href="@{/users/profile}">Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Contest Header ======= -->
<section id="events" class="events  min-height-800">

    <div>
        <div class="container-view-contest">
            <div class="row contest-head">

                <div class="col-1">
                    <a> <img class="contest-thumb-main" src="#" th:src="${contest.cover}" alt=""></a>
                </div>
                <div class="col-lg-4">
                    <div class="row contest-title" th:text="${contest.title}">CONTEST TITLE</div>
                    <div class="row contest-category" th:text="${'Category: ' + contest.category.name}">CONTEST CATEGORY
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="row contest-data" th:text="${'Participants: ' + contest.participants.size()}">
                        PARTICIPANTS:
                        11
                    </div>
                    <div class="row contest-data" th:text="${'Photos uploaded: ' + contest.photos.size()}">PHOTOS: 9
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="row contest-data">TIME REMAINING:</div>
                    <div class="row contest-data">LuboJS :)</div>
                </div>

                <div class="col-lg-2 d-flex justify-content-center">

                    <!--                enroll/leave button-->
                    <form class="row contest-data"
                          th:if="${contest.phase.ordinal() == 1 && user.isJunkie()
                      && !contest.participants.contains(user) && !contest.jurors.contains(user)}"
                          action="#" th:action="@{/contests/{id}/enroll(id=${contest.contestId})}"
                          method="post">
                        <button type="submit" class="btn btn-menu enroll-button">Enroll</button>
                    </form>

                    <form class="row contest-data"
                          th:if="${contest.phase.ordinal() == 1 && contest.participants.contains(user)}"
                          action="#" th:action="@{/contests/{id}/leave(id=${contest.contestId})}"
                          method="post">
                        <button type="submit" class="btn btn-menu enroll-button">Leave</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!--    Contest Header ends here-->

    <!--    Contest Juror view -->
    <div th:if="${contest.getJurors().contains(user)}">
        <div class="margin-top-40">
            <div id="photo-reel" class="container">

                <div class="section-title">
                    <h2>Photo</h2>
                </div>

                <div class="owl-carousel events-carousel">

                    <div>
                        <div class="row event-item">
                            <div class="col-lg-4">
                                <a href="#" th:href="${'../../../../images/photo-contest/' + photo.associatedFileName}"
                                   class="venobox" data-gall="gallery-item">
                                    <img id="winner-thumbnail"
                                         src="#"
                                         th:src="${'../../../../images/photo-contest/' + photo.associatedFileName}"
                                         alt=""
                                         class="img-fluid">
                                </a>
                            </div>

                            <div class="col-lg-5 content">
                                <hr class="separator">
                                <h3 th:text="${photo.title}">Photo title</h3>
                                <h5 class="title">by <span class="data"
                                                           th:text="${photo.author.firstName + ' ' + photo.author.lastName}">
                            Author</span></h5>
                                <hr class="separator">
                                <p class="font-italic" th:text="${photo.story}">Photo story</p>
                                <hr class="separator">

                                <div class="eval-form-button">
                                    <a href="#eval-form" >
                                        <button type="submit" class="btn btn-menu view-button">Evaluation form</button>
                                    </a>
                                </div>

                            </div>
                            <div class="col-lg-3 price" th:if="${photo.isEvaluatedBy(user)}">
                                <p><span th:text="${photo.getRatingFor(user)}">n.a.</span></p>
                            </div>

                            <div class="col-lg-3 price-na" th:unless="${photo.isEvaluatedBy(user)}">
                                <p><span>n/a</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="eval-form" class="container-create-contest" data-aos="fade-up">

            <div class="section-title">
                <h2><span>Evaluation form</span></h2>
            </div>

            <div class="book-a-table">
                <form th:action="@{/contests/{contestId}/evaluate/{photoId}
                                          (contestId=${contest.contestId}, photoId = ${photo.photoId})}"
                      th:object="${form}"
                      method="post" role="form" class="ws-form">

                    <div class="row">
                        <div class="col-lg-7 form-group">
                            <div class="form-row margin-bottom-15">

                                <div class="col-lg-8 form-group">
                                    <label class="form-label"><b>Score:</b></label>
                                    <input type="number" th:field="*{score}" name="name"
                                           class="form-control form-placeholder"
                                           min="1" max="10" required th:default="3"
                                           placeholder="Range 1 - 10">
                                    <label class="error small-font" th:errors="*{score}">Score error
                                        placeholder</label>
                                </div>

                                <div class="col-lg-4 form-group">
                                    <div class="align-text-center">
                                        <label class="form-label"><b>Relevant:</b></label>
                                    </div>
                                    <input type="checkbox" th:field="*{valid}" name="name"
                                           class="form-control form-placeholder checkbox-large"
                                           placeholder=""
                                           checked="checked">
                                    <label class="error small-font" th:errors="*{valid}">IsValid error
                                        placeholder</label>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-lg-12 form-group">
                                    <label class="form-label"><b>Comment:</b></label>
                                    <textarea type="text" th:field="*{comment}" name="name"
                                              class="form-control form-textbox-review" required
                                              placeholder="Write a short comment..."></textarea>
                                    <label class="error small-font" th:errors="*{comment}">Comment error
                                        placeholder</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 form-group">
                            <div class="form-row justify-content-center">

                                <div class="form-row margin-bottom-15">
                                    <label class="form-label">
                                        <b>If you deem the photo offensive, not matching contest category
                                            or otherwise inappropriate, please uncheck to box to the left
                                        </b></label>
                                </div>

                                <div class="form-row margin-bottom-15">
                                    <label class="form-label">
                                        <b>Only one review per juror is allowed. In case you leave a photo unevaluated,
                                            a default score of 3 will be awarded. Be mindful!</b>
                                    </label>
                                </div>

                                <div class="text-center">
                                    <button id="button-create" type="submit">EVALUATE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- End Contest Juror view -->

</section>

<!-- Timer javascirpt -->
<script th:inline="javascript">
    var listOfContests = [[${userContests}]];

    window.onload = function getEndDate() {

        listOfContests.forEach(contest => {
            var countDownDate = new Date(`${contest.endPhase2}`).getTime();

            setInterval(function () {

                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById(`${contest.contestId}`).innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                if (distance <= 0) {
                    document.getElementById(`${contest.contestId}`).innerHTML = "EXPIRED";

                }
            }, 1000);
        })
    }
</script>

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>