<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">

        <h3 class="logo mr-auto" th:unless="${user.isOrganizer()}"
            th:text="${user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'}"></h3>

        <h3 class="logo mr-auto" th:if="${user.isOrganizer()}"
            th:text="${user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>


        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}">
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}">
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/contests}">Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/users}">Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-contests}">My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li><a href="#" th:href="@{/users/profile}">Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Contest Header ======= -->
<section id="events" class="events min-height-800">

    <div class="container-view-contest">
        <div class="row contest-head">

            <div class="col-1">
                <a> <img class="contest-thumb-main" src="#" th:src="${contest.cover}" alt=""></a>
            </div>
            <div class="col-lg-4">
                <div class="row contest-title" th:text="${contest.title}">CONTEST TITLE</div>
                <div class="row contest-category" th:text="${'Category: ' + contest.category.name}">CONTEST CATEGORY
                </div>

            </div>
            <div class="col-lg-3">
                <div class="row contest-data" th:text="${'Participants: ' + contest.participants.size()}">
                    PARTICIPANTS:
                    11
                </div>
                <div class="row contest-data" th:text="${'Photos uploaded: ' + contest.photos.size()}">PHOTOS: 9
                </div>
            </div>

            <div class="col-lg-2">
                <div class="row contest-data" th:text="${'Phase ' + contest.getPhase().toString()}"></div>
                <div class="row contest-data">
                    <span th:id="${contest.contestId}"></span>
                </div>
            </div>

            <div class="col-lg-2 d-flex justify-content-center">

                <!--                enroll/leave button-->
                <form class="row contest-data"
                      th:if="${contest.phase.ordinal() == 1 && user.isJunkie()
                      && !contest.participants.contains(user) && !contest.jurors.contains(user)}"
                      action="#" th:action="@{/contests/{id}/enroll(id=${contest.contestId})}"
                      method="post">
                    <button type="submit" class="btn btn-menu enroll-button">Enroll</button>
                </form>

                <form class="row contest-data"
                      th:if="${contest.phase.ordinal() == 1 && contest.participants.contains(user)}"
                      action="#" th:action="@{/contests/{id}/leave(id=${contest.contestId})}"
                      method="post">
                    <button type="submit" class="btn btn-menu enroll-button">Leave</button>
                </form>

            </div>

        </div>
    </div>
    <!--    Contest Header ends here-->

    <!--    Contest not started -->
    <div th:if="${contest.phase.ordinal() == 0}">
        <div class="margin-top-40">
            <div id="photo-reel" class="container" data-aos="fade-up">
                <p>CONTEST HAS NOT STARTED YET!</p>
            </div>
        </div>
    </div>
    <!--    Contest not started ends -->

    <!--    Contest view results -->
    <div th:if="${contest.phase.ordinal() == 3 && (contest.jurors.contains(user) || contest.participants.contains(user))}">
        <div class="margin-top-40">
            <div id="photo-reel" class="container" data-aos="fade-up">

                <!--                <div class="section-title">-->
                <!--                    <h2>Contest photos</h2>-->
                <!--                </div>-->

                <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="500">

                    <div th:each="evaluation: ${evaluations}">
                        <div class="row event-item">
                            <div class="col-lg-4">
                                <a href="#"
                                   th:href="${'../../images/photo-contest/' + evaluation.photo.associatedFileName}"
                                   class="venobox" data-gall="gallery-item">
                                    <img id="winner-thumbnail"
                                         src="#"
                                         th:src="${'../../images/photo-contest/' + evaluation.photo.associatedFileName}"
                                         alt=""
                                         class="img-fluid">
                                </a>
                            </div>

                            <div class="col-lg-5 content">
                                <hr class="separator">
                                <h1 th:if="${evaluation.rankingPlace == 1}"
                                    th:text="${evaluation.rankingPlace} + '-st place'">Photo place</h1>
                                <h1 th:if="${evaluation.rankingPlace == 2}"
                                    th:text="${evaluation.rankingPlace} + '-nd place'">Photo place</h1>
                                <h1 th:if="${evaluation.rankingPlace == 3}"
                                    th:text="${evaluation.rankingPlace} + '-rd place'">Photo place</h1>
                                <h1 th:unless="${evaluation.rankingPlace == 1 || evaluation.rankingPlace == 2 || evaluation.rankingPlace == 3}"
                                    th:text="${evaluation.rankingPlace} + '-th  place'">Photo place</h1>
                                <hr class="separator">
                                <h3 th:text="${evaluation.photo.title}">Photo title</h3>
                                <h5 class="title">by <span class="data"
                                                           th:text="${evaluation.photo.author.firstName + ' '
                                                                + evaluation.photo.author.lastName}">
                            Author</span></h5>
                                <hr class="separator">
                                <p class="font-italic" th:text="${evaluation.photo.story}">Photo story</p>
                                <hr class="separator">

                            </div>
                            <div class="col-lg-3 price">
                                <p><span th:text="${evaluation.photoScoreAvg}">n.a.</span></p>
                            </div>
                        </div>
                        <div class="row event-item margin-bottom-15 align-text-center">
                            <h4>COMMENTS</h4>
                        </div>

                        <div th:each="review: ${evaluation.reviews}" class="row event-item">
                            <div class="col-lg-1 content"></div>
                            <div class="col-lg-10 content">
                                <hr class="separator">
                                <p class="" th:text="${review.juror.firstName.toUpperCase() + ' '
                                + review.juror.lastName.toUpperCase() + ' | Rating given: (' + review.score +  ') | : '}">
                                </p>
                                <p class="font-italic review-comment" th:text="${review.comment}"><</p>
                                <hr class="separator">
                            </div>
                            <div class="col-lg-1 content"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--    Contest view results -->

    <!--    Contest Juror view -->
    <div th:unless="${contest.phase.ordinal() == 3}">

        <div th:if="${contest.getJurors().contains(user)}">
            <div class="margin-top-40">
                <div id="photo-reel" class="container" data-aos="fade-up">

                    <!--                <div class="section-title">-->
                    <!--                    <h2>Contest photos</h2>-->
                    <!--                </div>-->

                    <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="500">

                        <div th:each="photo: ${contest.photos}">
                            <div class="row event-item">
                                <div class="col-lg-4">
                                    <a href="#"
                                       th:href="${'../../images/photo-contest/' + photo.associatedFileName}"
                                       class="venobox" data-gall="gallery-item">
                                        <img id="winner-thumbnail"
                                             src="#"
                                             th:src="${'../../images/photo-contest/' + photo.associatedFileName}"
                                             alt=""
                                             class="img-fluid">
                                    </a>
                                </div>

                                <div class="col-lg-5 content">
                                    <hr class="separator">
                                    <h3 th:text="${photo.title}">Photo title</h3>
                                    <h5 class="title">by <span class="data"
                                                               th:text="${photo.author.firstName + ' ' + photo.author.lastName}">
                            Author</span></h5>
                                    <hr class="separator">
                                    <p class="font-italic" th:text="${photo.story}">Photo story</p>
                                    <hr class="separator">

                                    <div th:if="${contest.phase.ordinal() == 2 && !photo.isEvaluatedBy(user)}">
                                        <form class="contest-button-container"
                                              th:action="@{/contests/{contestId}/evaluate/{photoId}
                                          (contestId=${contest.contestId},photoId=${photo.photoId})}"
                                              method="get">
                                            <button type="submit" class="btn btn-menu view-button">Evaluate</button>
                                        </form>
                                    </div>

                                    <div th:unless="${contest.phase.ordinal() == 2 && !photo.isEvaluatedBy(user)}">
                                        <form class="contest-button-container"
                                              th:action="@{/contests/{contestId}/evaluate/{photoId}
                                          (contestId=${contest.contestId},photoId=${photo.photoId})}"
                                              method="get">
                                            <button type="submit" disabled
                                                    class="btn btn-menu view-button-disabled">
                                                Evaluate
                                            </button>
                                        </form>
                                    </div>

                                </div>
                                <div class="col-lg-3 price" th:if="${photo.isEvaluatedBy(user)}">
                                    <p><span th:text="${photo.getRatingFor(user)}">n.a.</span></p>
                                </div>

                                <div class="col-lg-3 price-na" th:unless="${photo.isEvaluatedBy(user)}">
                                    <p><span>n/a</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contest Juror view -->

    <!--    Contest Participant with photo view -->
    <div th:if="${contest.getParticipants().contains(user) && contest.containsUserPhoto(user)}">
        <div class="margin-top-40">
            <div id="photo-reel" class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Uploaded photo</h2>
                </div>

                <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="500">

                    <div>
                        <div class="row event-item">
                            <div class="col-lg-4">
                                <a href="#"
                                   th:href="${'../../images/photo-contest/' + contest.getPhotoFor(user).associatedFileName}"
                                   class="venobox" data-gall="gallery-item">
                                    <img id="winner-thumbnail"
                                         src="#"
                                         th:src="${'../../images/photo-contest/' + contest.getPhotoFor(user).associatedFileName}"
                                         alt=""
                                         class="img-fluid">
                                </a>
                            </div>

                            <div class="col-lg-5 content">

                                <h5>Title:</h5>
                                <hr class="separator">
                                <h3 th:text="${contest.getPhotoFor(user).title}">Photo title</h3>

                                <hr class="separator">
                                <hr class="separator">
                                <h5>Story:</h5>
                                <hr class="separator">
                                <p class="font-italic" th:text="${contest.getPhotoFor(user).story}">Photo
                                    story</p>
                                <hr class="separator">

                                <div th:if="${contest.phase.ordinal() == 1}">
                                    <form class="contest-button-container"
                                          th:action="@{/contests/{id}/remove(id=${contest.contestId})}"
                                          method="post">
                                        <button id="button-create" type="submit">REMOVE</button>
                                    </form>
                                </div>

                            </div>

                            <div class="col-lg-3 price-na" th:unless="${contest.phase.ordinal() == 3}">
                                <h5 class="score-label">Score:</h5>
                                <p><span>n/a</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contest Participant with photo view -->

    <!--    Contest Participant upload form-->
    <div th:if="${contest.getParticipants().contains(user) && !contest.containsUserPhoto(user)}">
        <div class="margin-top-40">
            <div class="container-create-contest" data-aos="fade-up">
                <div data-aos="fade-up">

                    <div class="section-title">
                        <h2><span>Upload photo</span></h2>
                    </div>

                    <div class="book-a-table">
                        <form action="#" enctype="multipart/form-data"
                              th:action="@{/contests/{id}/upload(id=${contest.contestId})}"
                              th:object="${form}" method="post" role="form" class="ws-form"
                              data-aos="fade-up" data-aos-delay="100">

                            <div class="form-row margin-bottom-30">

                                <div class="col-lg-6 form-group">
                                    <label class="form-label"><b>Photo title:</b></label>
                                    <input type="text" th:field="*{title}" name="name"
                                           class="form-control form-placeholder" required
                                           placeholder="5-50 symbols" minlength="5" maxlength="50">
                                    <label class="error small-font" th:errors="*{title}">Title error
                                        placeholder</label>
                                </div>

                                <div class="col-lg-6 form-group">
                                    <label class="form-label"><b>Choose file:</b></label>

                                    <input type="file" th:field="*{file}" name="name"
                                           class="form-control form-placeholder"
                                           placeholder="" required>
                                    <label class="error small-font" th:errors="*{file}">Fileerror
                                        placeholder</label>
                                </div>

                            </div>

                            <div class="form-row margin-bottom-30">
                                <label class="form-label">
                                    <b>Winning shot currently supports .jpg. & .png. upload formats.
                                        Photos are best rendered when submitted in 3:4 ratio format.
                                        Please do not attempt to upload images larger than 2MB
                                        or your account might be suspended!</b></label>
                            </div>

                            <div class="form-row margin-bottom-30">

                                <div class="col-lg-12 form-group">
                                    <label class="form-label"><b>Photo story:</b></label>
                                    <textarea type="text" th:field="*{story}" name="name"
                                              class="form-control form-textbox" required
                                              placeholder="up to 500 symbols"></textarea>
                                    <label class="error small-font" th:errors="*{story}">Story error
                                        placeholder</label>
                                </div>

                            </div>

                            <div class="form-row margin-bottom-30">
                                <label class="form-label">
                                    <b>By clicking "upload" you agree to our "wave of rights" terms and
                                        conditions.
                                        All uploaded photos are intellectual property of "Winning Shot"
                                        and you, as user, forfeit any claims you may eventually have.</b>
                                    <br>
                                    <br>
                                    <b>One photo per participant is allowed.
                                        Image, title and story cannot be edited later.
                                        Make sure you submit truly your best work!</b>
                                </label>
                            </div>

                            <div class="form-row margin-bottom-30 justify-content-center">
                                <div class="text-center">
                                    <button id="button-create" type="submit">UPLOAD</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contest Participant upload form-->

    </div>

</section>

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->


<!-- Timer javascirpt -->
<script th:inline="javascript">
    var contest = [[${contest}]];

    window.onload = function getEndDate() {

        var countDownDate = new Date(`${contest.endPhase2}`).getTime();

        setInterval(function () {

            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById(`${contest.contestId}`).innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance <= 0) {
                document.getElementById(`${contest.contestId}`).innerHTML = "EXPIRED";

            }
        }, 1000);
    }
</script>

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>